databases:
  - name: portfolio-db
    databaseName: portfolio
    user: portfolio_user
    plan: free

services:
  - type: web
    name: portfolio-app
    runtime: docker
    plan: free
    region: singapore
    envVars:
      - key: DEBUG
        value: "False"
      - key: DATABASE_URL
        fromDatabase:
          name: portfolio-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: "*"
      - key: DJANGO_SETTINGS_MODULE
        value: config.settings.production
